In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("/Users/larryobrien/Dropbox/Transfer/lightroom_fixups/photo_paths.csv", names = ['path', 'available', 'created'])

In [12]:
df

                                                    path  available   created
0      /Volumes/Public/Shared Pictures/2009/12/18/Kal...       True         0
1      /Volumes/Public/Shared Pictures/2002/06/10/Sal...       True  45445068
2      /Volumes/Public/Shared Pictures/2002/06/10/Sal...       True  45445068
3      /Volumes/Public/Shared Pictures/2002/06/10/Sal...       True  45445079
4      /Volumes/Public/Shared Pictures/2002/06/10/Sal...       True  45445123
...                                                  ...        ...       ...
47859  /Volumes/Public/Shared Pictures/2021/07/05/000...       True         0
47860  /Volumes/Public/Shared Pictures/2021/07/06/IMG...       True         0
47861  /Volumes/Public/Shared Pictures/2021/07/05/000...       True         0
47862  /Volumes/Public/Shared Pictures/2021/07/06/IMG...       True         0
47863  /Volumes/Public/Shared Pictures/2021/07/05/000...       True         0

[47864 rows x 3 columns]

In [19]:
from datetime import datetime

lr_epoch = datetime.timestamp(datetime(2001,1,1))
df['created_datetime'] = df['created'].apply(lambda x : datetime.fromtimestamp(lr_epoch + x))
df

,path,available,created,created_datetime
0,/Volumes/Public/Shared Pictures/2009/12/18/Kal...,True,0,2001-01-01 00:00:00
1,/Volumes/Public/Shared Pictures/2002/06/10/Sal...,True,45445068,2002-06-10 23:37:48
2,/Volumes/Public/Shared Pictures/2002/06/10/Sal...,True,45445068,2002-06-10 23:37:48
3,/Volumes/Public/Shared Pictures/2002/06/10/Sal...,True,45445079,2002-06-10 23:37:59
4,/Volumes/Public/Shared Pictures/2002/06/10/Sal...,True,45445123,2002-06-10 23:38:43
...,...,...,...,...
47859,/Volumes/Public/Shared Pictures/2021/07/05/000...,True,0,2001-01-01 00:00:00
47860,/Volumes/Public/Shared Pictures/2021/07/06/IMG...,True,0,2001-01-01 00:00:00
47861,/Volumes/Public/Shared Pictures/2021/07/05/000...,True,0,2001-01-01 00:00:00
47862,/Volumes/Public/Shared Pictures/2021/07/06/IMG...,True,0,2001-01-01 00:00:00
47863,/Volumes/Public/Shared Pictures/2021/07/05/000...,True,0,2001-01-01 00:00:00

In [21]:
df['path'][0:5]

0    /Volumes/Public/Shared Pictures/2009/12/18/Kal...
1    /Volumes/Public/Shared Pictures/2002/06/10/Sal...
2    /Volumes/Public/Shared Pictures/2002/06/10/Sal...
3    /Volumes/Public/Shared Pictures/2002/06/10/Sal...
4    /Volumes/Public/Shared Pictures/2002/06/10/Sal...
Name: path, dtype: object

In [27]:
p = df['path'][0]
p = p.split('/')
p

['',
 'Volumes',
 'Public',
 'Shared Pictures',
 '2009',
 '12',
 '18',
 "Kalolo-Honokohau Nat'l Historical Park, Hawaii,2009 copy.JPG"]

In [30]:
def is_in_shared_pictures(path):
    s = path.split('/')
    return s[3] == 'Shared Pictures'

df['in_shared_pictures'] = df['path'].apply(lambda p : is_in_shared_pictures(p))
df

,path,available,created,created_datetime,in_shared_pictures
0,/Volumes/Public/Shared Pictures/2009/12/18/Kal...,True,0,2001-01-01 00:00:00,True
1,/Volumes/Public/Shared Pictures/2002/06/10/Sal...,True,45445068,2002-06-10 23:37:48,True
2,/Volumes/Public/Shared Pictures/2002/06/10/Sal...,True,45445068,2002-06-10 23:37:48,True
3,/Volumes/Public/Shared Pictures/2002/06/10/Sal...,True,45445079,2002-06-10 23:37:59,True
4,/Volumes/Public/Shared Pictures/2002/06/10/Sal...,True,45445123,2002-06-10 23:38:43,True
...,...,...,...,...,...
47859,/Volumes/Public/Shared Pictures/2021/07/05/000...,True,0,2001-01-01 00:00:00,True
47860,/Volumes/Public/Shared Pictures/2021/07/06/IMG...,True,0,2001-01-01 00:00:00,True
47861,/Volumes/Public/Shared Pictures/2021/07/05/000...,True,0,2001-01-01 00:00:00,True
47862,/Volumes/Public/Shared Pictures/2021/07/06/IMG...,True,0,2001-01-01 00:00:00,True
47863,/Volumes/Public/Shared Pictures/2021/07/05/000...,True,0,2001-01-01 00:00:00,True

In [33]:
external = df[df['in_shared_pictures'] == False]
external

,path,available,created,created_datetime,in_shared_pictures
108,/Users/larryobrien/Pictures/Lightroom/Mobile D...,False,292452584,2010-04-08 20:49:44,False
113,/Users/larryobrien/Pictures/Lightroom/Mobile D...,False,459041397,2015-07-19 23:29:57,False
114,/Users/larryobrien/Pictures/Lightroom/Mobile D...,False,459043309,2015-07-20 00:01:49,False
115,/Users/larryobrien/Pictures/Lightroom/Mobile D...,False,464043732,2015-09-15 21:02:12,False
116,/Users/larryobrien/Pictures/Lightroom/Mobile D...,False,482449810,2016-04-15 21:50:10,False
...,...,...,...,...,...
47473,/Users/lobrien/Pictures/Lightroom/Mobile Downl...,True,647318947,2021-07-07 02:49:07,False
47474,/Users/lobrien/Pictures/Lightroom/Mobile Downl...,True,0,2001-01-01 00:00:00,False
47853,/Users/lobrien/Pictures/Lightroom/Mobile Downl...,True,647581445,2021-07-10 03:44:05,False
47854,/Users/lobrien/Pictures/Lightroom/Mobile Downl...,True,647581485,2021-07-10 03:44:45,False
47855,/Users/lobrien/Pictures/Lightroom/Mobile Downl...,True,647581502,2021-07-10 03:45:02,False

In [38]:
external.sort_values('path')

,path,available,created,created_datetime,in_shared_pictures
115,/Users/larryobrien/Pictures/Lightroom/Mobile D...,False,464043732,2015-09-15 21:02:12,False
116,/Users/larryobrien/Pictures/Lightroom/Mobile D...,False,482449810,2016-04-15 21:50:10,False
120,/Users/larryobrien/Pictures/Lightroom/Mobile D...,False,483654614,2016-04-29 20:30:14,False
121,/Users/larryobrien/Pictures/Lightroom/Mobile D...,False,483654614,2016-04-29 20:30:14,False
124,/Users/larryobrien/Pictures/Lightroom/Mobile D...,False,483852165,2016-05-02 03:22:45,False
...,...,...,...,...,...
46859,/Users/lobrien/Pictures/Lightroom/Mobile Downl...,True,610776180,2020-05-10 04:03:00,False
46861,/Users/lobrien/Pictures/Lightroom/Mobile Downl...,True,610776196,2020-05-10 04:03:16,False
46890,/Users/lobrien/Pictures/Lightroom/Mobile Downl...,True,611531694,2020-05-18 21:54:54,False
46889,/Users/lobrien/Pictures/Lightroom/Mobile Downl...,True,611531694,2020-05-18 21:54:54,False
32781,/Users/lobrien/Pictures/Lightroom/Mobile Downl...,True,483485980,2016-04-27 21:39:40,False

OK, so all of the pictures not in Shared Pictures are local, in `~/Pictures` etc...

In [40]:
external.sort_values('created')

,path,available,created,created_datetime,in_shared_pictures
46394,/Users/lobrien/Pictures/Lightroom/Mobile Downl...,True,0,2001-01-01 00:00:00,False
134,/Users/larryobrien/Pictures/Lightroom/Mobile D...,False,0,2001-01-01 00:00:00,False
133,/Users/larryobrien/Pictures/Lightroom/Mobile D...,False,0,2001-01-01 00:00:00,False
132,/Users/larryobrien/Pictures/Lightroom/Mobile D...,False,0,2001-01-01 00:00:00,False
131,/Users/larryobrien/Pictures/Lightroom/Mobile D...,False,0,2001-01-01 00:00:00,False
...,...,...,...,...,...
47451,/Users/lobrien/Pictures/Lightroom/Mobile Downl...,True,646900378,2021-07-02 06:32:58,False
47473,/Users/lobrien/Pictures/Lightroom/Mobile Downl...,True,647318947,2021-07-07 02:49:07,False
47853,/Users/lobrien/Pictures/Lightroom/Mobile Downl...,True,647581445,2021-07-10 03:44:05,False
47854,/Users/lobrien/Pictures/Lightroom/Mobile Downl...,True,647581485,2021-07-10 03:44:45,False
47855,/Users/lobrien/Pictures/Lightroom/Mobile Downl...,True,647581502,2021-07-10 03:45:02,False

From don't know when to super-recent.